{% extends 'center.html' %}
{% load static %}
{% block content %}
<div class="comparacao-veiculos-container">
    <h1 class="title">Veículos</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-veiculo">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div id="carouselExampleCaptions" class="carousel slide custom-carousel-container" data-bs-ride="carousel">
                            <div class="carousel-inner custom-carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{veiculos.imagem1.url}}" class="d-block w-100" alt="Carro 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{veiculos.imagem2.url}}" class="d-block w-100" alt="Carro 2">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-cardVeiculo">
                            <div class="descricaoveiculo">
                                <h2>{{ veiculos.nome_carro }}</h2>
                                <p>{{ veiculos.descricao_veiculo }}</p>
                                <p>{{ local.agencia }}</p>
                                <div class="mt-auto btn-container">
                                    <a href="{% url 'viagens:description_contato' %}" class="card-link btn-custom">Contato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
